[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/NPP-JSONViewer/rapidjson.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/plugintemplate"]
	path = external/plugintemplate
	url = https://github.com/npp-plugins/plugintemplate
